<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-01-30T01:45:20Z</date>
	<key>WorkspacePath</key>
	<string>/Users/shudaxuan/Desktop/Archive/Other/Laserfiche/Laserfiche Interview/Bruin Nav/Project 4/Project 4.xcodeproj</string>
</dict>
</plist>
